# Ambientes Virtuais
venv/
.venv/
env/

# Credenciais e Configurações Secretas
.env

#arquivos grandes de configuração
backend/tools/kokoro_model/
*.onnx
*.bin

# Pastas inúteis do sistema e do Python
__pycache__/
*.pyc
.DS_Store
requirements.txt